<!DOCTYPE html>
<html>

<head>
    <title>Dinosaur</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>

    <div class="div main-content">
        {{>header}}
        
        <img class="portrait" src="/img/tyrannosaurus-rex.png"></img>
        <p>This is going to be where I build my dinosaur API.</p>
    </div>

    {{>footer}}

</html>